.social-btn-component {
  background: var(--gray900);
  border: none;
  height: 38px;
  border-radius: 38px;
  color: var(--yellow800);
  width: 100%;
  padding: 0 19px;

  &.disabled {
    background-color: var(--grey200_60)
  }

  &:hover,
  &:focus {
    color: var(--yellow800);
    opacity: .9;
  }

  .left-icon {
    margin-right: 10px;
  }

  .right-icon {
    margin-left: 10px;
  }

  .btn-txt {
    font-size: 14px;
    font-weight: 700;
  }
}
