.video-item-component {
  position: relative;
  cursor: pointer;
  
  .thumb-img {
    width: 100%;
  }

  .play-icon-content {
    position: absolute;
    left: calc(50% - 30px);
    top: calc(50% - 30px);
    width: 60px !important;
    height: 60px;
    border-radius: 50%;
    background-color: var(--white900_70);

    .play-icon {
      width: 20px;
      margin-left: 3px;
    }
  }

  .logo {
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 150px !important;
  }
}

@media screen and (max-width: 991px) {
  .video-item-component {
    .play-icon {
      width: 50px;
    }
  }
}