.recipes-category-component {
  h3 {
    font-size: 32px;
    color: var(--yellow700);
    text-align: center;
    margin-bottom: 30px;
  }

  .category-list {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}

@media screen and (max-width: 991px) {
  .recipes-category-component {
    .category-list {
      display: flex;
      gap: 5px;
    }
  }
}