.trending-cuisine-list-component {
  h3 {
    font-size: 40px;
    margin: 20px;
    font-family: "Montez", cursive;
    // color: var(--yellow700);
    background: -webkit-linear-gradient(#944003, #ff7f23);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
  }

  .trending-cuisines-container {
    display: grid;
    gap: 48px 20px;
  }
}

@media screen and (min-width: 1440px) {
  .trending-cuisine-list-component {
    .trending-cuisines-container {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1440px) {
  .trending-cuisine-list-component {
    .trending-cuisines-container {
      grid-template-columns: repeat(3, 1fr);

    }
  }
}

@media screen and (max-width: 991px) {
  .trending-cuisine-list-component {
    h3 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    .trending-cuisines-container {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }
  }
}