.video-modal-component {
  max-width: 1300px;
  display: flex;
  position: relative;

  .close-btn {
    cursor: pointer;
    position: absolute;
    right: -3px;
    top: -25px;
    fill: white;
    width: 25px;
    height: 25px;
  }

  .video-player {
    height: 506px;
    width: 900px;
  }
}

@media screen and (max-width: 991px) {
  .video-modal-component {
    width: 100%;

    .video-player {
      height: 200px;
      width: 400px;
    }
  }
}