.drop-down-select-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: relative;

  .label {
    font-size: 14px;
    margin-bottom: 6px;
    font-weight: 700;
  }

  .select-header {
    height: 60px;
    border-radius: 10px;
    padding: 0 15px;
    border: solid 1px var(--black900);
    justify-content: space-between;
    cursor: pointer;

    .arrow-down {
      transform: rotate(180deg);
    }
  }

  .placeholder-des {
    font-size: 16px;
    color: var(--blue900);
    opacity: 0.3;
  }

  .value {
    font-size: 16px;
  }

  .drop-list-container {
    position: absolute;
    top: 87px;
    left: 0px;
    right: 0;
    background-color: var(--white900);
    z-index: 3;
    height: 300px;
    overflow-y: scroll;

    .drop-list-item {
      padding: 10px 15px;
      cursor: pointer;

      &:hover {
        background-color: var(--gray600);
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .drop-down-select-component {

    .select-header {
      height: 50px;
    }

    .value {
      font-size: 14px;
    }

    .drop-list-container {
      height: 200px;
      font-size: 14px;
    }
  }
}