:root {
  --main-color: #FF8000;

  --yellow700: #FF7F23;
  --yellow800: #FF8000;

  --blue200: #E7FAFE;
  --blue700: #222B45;

  --grey200: #4F4F4F;
  --grey200_60: rgba(79, 79, 79, 0.6);
  --gray500: #D0C5C5;
  --gray600: #EDEDEB;
  --gray900: #D9D9D9;

  --white800: #E8F0FE;
  --white900: #fff;
  
  --black900: #000;
  --black900_25: rgba(0, 0, 0, 0.25);
}