.continue-btn {
  background-color: var(--gray900);
  border: none;
  height: 38px;
  border-radius: 38px;
  color: var(--yellow800);
  width: 100%;


  &.disabled {
    background-color: var(--grey200);
    opacity: 0.3;

    &:hover,
    &:focus {
      opacity: .3;
    }
  }

  &:hover,
  &:focus {
    opacity: .9;
  }

  .left-icon {
    margin-right: 10px;
  }

  .right-icon {
    margin-left: 10px;
  }

  .btn-txt {
    font-size: 14px;
    font-weight: 700;
  }
}