.auth-modal-component {
  max-width: 1300px;
  display: flex;

  .right-section {
    width: 600px;
    background-color: var(--blue700);
  }
}

@media screen and (max-width: 768px) {
  .auth-modal-component {
    width: 100%;

    .right-section {
      width: 100%;
      max-height: 85vh;
      overflow-y: scroll;
    }
  }
}