.footer-component {
  display: flex;
  align-items: center;
  padding: 30px 100px;
  background-color: var(--black900);
  color: var(--white900);

  h3 {
    font-size: 40px;
    font-weight: 400;
    font-family: "Montez";
    margin: 0;
  }

  h4 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
  }

  .left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 100px;

    .reserved {
      font-size: 20px;
    }
  }

  .right-section {
    display: flex;
    padding-top: 20px;

    .recipe-news {
      display: flex;
    }

    .about-us-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-right: 10px;

      .premium-logo {
        margin-top: 10px;
      }
    }

    .footer-section {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 0 20px;

      .footer_link {
        font-size: 15px;
        color: var(--white900);
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .footer-component {
    background: no-repeat url('../../../Assets/Images/Footer/footer-bg.png');
    background-position: center;
  }
}

@media screen and (max-width: 991px) {
  .footer-component {
    flex-direction: column;
    padding: 15px;

    .left-section {
      padding-right: 0;
    }

    .right-section {
      flex-direction: column;

      .recipe-news {
        justify-content: space-between;
      }

      .about-us-section {
        align-items: flex-start;
      }

      .footer-section {
        padding: 15px 0;

        .footer_link {
          font-size: 12px;
        }
      }
    }
  }
}