.category-drop-down-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100%;

  .select-header {
    height: 100%;
    border-radius: 20px;
    justify-content: space-between;
    background-color: var(--gray500);
    padding: 0 15px;
    cursor: pointer;

    .value {
      font-size: 18px;
      font-weight: 500;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      overflow: hidden;
    }

    .arrow-down {
      transform: rotate(180deg);
    }
  }

  .drop-list-container {
    width: 100%;
    position: absolute;
    top: 44px;
    left: 0px;
    right: 0;
    background-color: var(--white900);
    z-index: 3;
    overflow-y: scroll;

    .drop-list-item {
      padding: 10px 15px;
      cursor: pointer;

      &:hover {
        background-color: var(--gray700);
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .category-drop-down-component {

    .select-header {
      .value {
        font-size: 12px;
      }
    }

    .drop-list-container {
      height: 200px;
      font-size: 12px;
    }
  }
}